*.rbc
*.sassc
.rvmrc
.sass-cache
capybara-*.html
.rspec

/.bundle
/coverage/
/db/*.sqlite3
/log
/public/system/*
/public/assets/*
/spec/tmp/*
/tmp/*
/vendor/bundle
/config/database.yml
.env.*
node_modules
