%h1 Application

- if @form
  :ruby
    attrs = {
      style: "display: none;",
      data: {
        schema: @form.json_schema,
        data: JSON.generate(@data),
        path: application_path,
        method: 'PATCH'
      }
    }

  .form-data{ attrs }

  #customForm
- else
  .alert.alert-warning
    %p There is no active form please alert the administrators.
