%h1 Application

- if @form
  :ruby
    attrs = {
      style: "display: none;",
      data: {
        schema: @form.build_json_schema,
        data: @data,
        path: application_path,
        method: 'PATCH'
      }
    }

  = form_tag(url: application_path, method: :patch) do
    %p form

  .form-data{ attrs }
  -# %pre= JSON.pretty_generate(attrs)

  #customForm
- else
  .alert.alert-warning
    %p There is no active form please alert the administrators.
