<div class="inner">
  <div class="panel panel-primary">
    <div class="panel-heading">Editing Admin Account</div>
    <div class="panel-body">
      <%= render 'form', admin_account: @admin_account %>
      <%= link_to 'Show', @admin_account %> |
      <%= link_to 'Back', admin_accounts_path %>
    </div>
  </div>
</div>
