<div class="inner">
  <div class="panel panel-primary">
    <div class="panel-heading">Step 4: Add Admin Accounts (optional)</div>
    <div class="panel-body">
      <%= render 'form', grant: @grant %>
      <%= link_to 'Back', admin_accounts_path %>
    </div>
  </div>
</div>
