<p>
  <aside id="footer-widgets">
    <div class="container">
      <div class="row" id="sitem">
        <div class="col-md-12"id="sitem">
          <h3 class="footer-widget-title">Sitemap</h3>
          <ul class="list-unstyled three_cols">
            <li><a href="/info">Home</a></li>
            <li><a href="https://reumanager.com/new_demo">Demo</a></li>
            <li><a href="/info/pricing-signup/">Pricing & Signup</a></li>
            <li><a href="/info/tour/">Tour</a></li>
            <li><a href="mailto:support@notch8.com">Support</a></li>
          </ul>
          <div class=""id="subscribe">
            <h3 class="footer-widget-title">Subscribe</h3>
            <p>Subscribe to our newsletter to be notified of updates and information.</p>
            <div class="input-group col-md-4">
              <input type="text" class="form-control" placeholder="Email Adress">
              <span class="input-group-btn">
                <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
              </span>
            </div><!-- /input-group -->
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </aside> <!-- footer-widgets -->

  <div id="footer">
  <%= t('.copyright', :year => Time.now.year,
  :site_name => Refinery::Core.site_name) %>, inc. All rights reserved.
  </div>
</p>
