
@import 'bootstrap-datepicker';
@import 'css/preload';
@import 'css/vendors';
@import 'css/syntaxhighlighter/shCore';
@import 'css/style-blue3';
@import 'css/width-full';
@import 'academic_records';
@import 'recommendations';


#header_link_1, #header_link_2 {
  text-align:left;
  font-weight:normal;
  margin:2px -7px 10px -7px;
  padding:5px 5px 5px 15px;
  font-size:1.6em;
  a {
    color: #fff;
  }
}

.deadline {
  text-align: center;
  margin: 40px 0 0 0;
}

.app_button {
  padding:2em;
  text-align: center;
}

.navbar-default .navbar-brand {
  text-transform: none;
}

.alert-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  border: red 1px solid;
}

#footer-widgets {
  padding-top: 30px;
  ul.list-unstyled li.pull-left {
    margin: 10px 0;
    &:after {
      content: '|';
      margin: 0 10px;
    }
    &:first-of-type {
      margin-left: 20px;
    }
    &:last-of-type:after {
      content: none;
    }
  }
}

.radio input[type="radio"] {
  opacity: 1;
  z-index: 0;
}

.required-field::before {
  content: '*';
  padding-left: 5px;
}
