/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require css/preload
 *= require css/vendors
 *= require css/syntaxhighlighter/shCore
 *= require css/style-blue3
 *= require css/width-full
 *= require academic_records
 *= require recommendations
*/

#header_link_1, #header_link_2 {
  text-align:left;
  font-weight:normal;
  margin:2px -7px 10px -7px;
  padding:5px 5px 5px 15px;
  font-size:1.6em;
}

#header_link_1 a, #header_link_2 a {
  color: #fff;
}

.deadline {
  text-align: center;
  margin: 40px 0 0 0;
}

.app_button {
  padding:2em;
  text-align: center;
}

.navbar-default .navbar-brand {
  text-transform: none;
}
