$primary-color: #6f95dc;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "app/header";
@import "app/footer";
@import "app/rjsf";
@import "app/marketing";
@import "app/tours";
@import "app/pricing";
@import "app/welcome";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
}

body {
  line-height: 1.75em;
}
